@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  color: #141414;
  background-color: #f5f5f5;
}

@layer utilities {
  .text-cta {
    /** https://clamp.font-size.app/ */
    font-size: clamp(1.875rem, 1.3971rem + 1.9608vw, 3.75rem);
    line-height: clamp(2.125rem, 1.4671rem + 2.6316vw, 4.625rem);
  }

  .text-subtitle {
    font-size: clamp(0.875rem, 0.6447rem + 0.9211vw, 1.75rem);
    margin-top: clamp(0.5rem, 0.0559rem + 1.7763vw, 2.1875rem);
  }

  .cta-image {
    max-width: clamp(21.25rem, 14.3421rem + 27.6316vw, 47.5rem) !important;
    width: 100%;
    transform: translateY(clamp(4.0625rem, 1.8421rem + 8.8816vw, 12.5rem));
  }

  .center-arrow {
    left: clamp(24.375rem, 16.8092rem + 30.2632vw, 53.125rem);
  }

  .center-arrow img {
    /** https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjQwMHB4IiwibWF4V2lkdGgiOiIxOTIwcHgiLCJtaW5Gb250U2l6ZSI6IjgwcHgiLCJtYXhGb250U2l6ZSI6IjEyOHB4In0%3D */
    max-width: clamp(5rem, 4.2105rem + 3.1579vw, 8rem);;
  }

  .download-btn {
    max-width: clamp(8.75rem, 8.2401rem + 2.0395vw, 10.6875rem);
    width: 100%;
    position: relative;
  }

  .dynamic-container {
    --padding-size: clamp(1.5625rem, 0.6579rem + 3.6184vw, 5rem);
    padding: 36px var(--padding-size) 36px var(--padding-size);
  }

  .bottom-risk:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-image: url('/cta-risk.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bottom-risk:after {
    content: '';
    background-color: #f5f5f5;
    position: absolute;
    height: 100%;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 100%;
    animation-name: draw;
    animation-duration: 350ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  @keyframes draw {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
      display: none;
    }
  }
}
